{{ define "navbar" }}
    {{ partial "navigators/navbar.html" . }}
{{ end }}

{{ define "sidebar" }}
  {{ $sectionType := .Section | default .Type }}
  {{ $contentFeature := partial "helpers/get-post-like-feature.html" (dict "type" $sectionType) }}
  {{ $allSectionsButton := $contentFeature.allSectionsButton | default (i18n "all_notes") }}
  {{ $navbarCurrentSectionOnly := $contentFeature.navbarCurrentSectionOnly | default true }}
  {{ $rootSection := .Site.GetPage (printf "/%s" $sectionType) }}
  {{ $listRootHref := $sectionType | relLangURL }}
  {{ $sectionNavItems := slice }}
  {{ if $rootSection }}
    {{ $listRootHref = $rootSection.RelPermalink }}
    {{ $sectionNavItems = partial "helpers/get-section-nav-items.html" $rootSection }}
  {{ end }}
  {{ $currentSection := .CurrentSection }}
  {{ $showCurrentSectionOnly := false }}
  {{ if and $navbarCurrentSectionOnly $rootSection $currentSection }}
    {{ $normalizedRoot := printf "%s/" (replaceRE "/+$" "" $rootSection.RelPermalink) }}
    {{ $normalizedCurrentSection := printf "%s/" (replaceRE "/+$" "" $currentSection.RelPermalink) }}
    {{ $showCurrentSectionOnly = ne $normalizedCurrentSection $normalizedRoot }}
  {{ end }}
  {{ $backHref := $listRootHref }}
  {{ if $navbarCurrentSectionOnly }}
    {{ $parentPage := .Parent }}
    {{ if $parentPage }}
      {{ $normalizedParent := printf "%s/" (replaceRE "/+$" "" $parentPage.RelPermalink) }}
      {{ $normalizedListRoot := printf "%s/" (replaceRE "/+$" "" $listRootHref) }}
      {{ if ne $normalizedParent $normalizedListRoot }}
        {{ $backHref = $parentPage.RelPermalink }}
      {{ else if and $showCurrentSectionOnly $currentSection }}
        {{ $backHref = $currentSection.RelPermalink }}
      {{ end }}
    {{ else if and $showCurrentSectionOnly $currentSection }}
      {{ $backHref = $currentSection.RelPermalink }}
    {{ end }}
  {{ end }}

  <section class="sidebar-section" id="sidebar-section">
    <div class="sidebar-holder">
      <div class="sidebar" id="sidebar">
        {{ if $navbarCurrentSectionOnly }}
          <div class="sidebar-button-row">
            <div class="sidebar-button">
              <button
                class="btn filled-button"
                type="button"
                data-href="{{ $backHref }}"
                onclick="window.location.href=this.dataset.href"
              >
                <i class="fa-solid fa-circle-arrow-left" style="margin-right: 5px;"></i>
                {{ i18n "back" }}
              </button>
            </div>
            <div class="sidebar-button">
              <button class="btn filled-button" data-href="{{ $listRootHref }}" data-filter="all" onclick="window.location.href=this.dataset.href">
                <i class="fa-solid fa-circle-arrow-up" style="margin-right: 5px;"></i>
                {{ $allSectionsButton }}
              </button>
            </div>
          </div>
        {{ end }}
        <div class="sidebar-tree">
          <ul class="tree" id="tree">
            <li id="list-heading"><a href="{{ $listRootHref }}" data-filter="all">{{ i18n $sectionType }}</a></li>
            <div class="subtree">
              {{ partial "navigators/sidebar-sections.html" (dict "items" $sectionNavItems "ctx" .) }}
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>
{{ end }}

{{ define "content" }}
<section class="content-section" id="content-section">
  <div class="content container-fluid" id="content">
    <div class="container-fluid note-card-holder" id="note-card-holder">
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}
