table {
  border-radius: 0.1rem;
  border: 1px solid rgba(get-light-color('accent-color'), 0.1);
  min-width: 10rem;
  padding: 0.1rem;
  thead {
    tr {
      background: get-light-color('bg-table-thread');
      color: get-light-color('text-over-accent-color');
    }
      
    th::selection {
      background: get-light-color('selected-text-over-accent-color');
    }
  }

  tbody {
    tr {
      height: 40px !important;
      color: get-light-color('text-color');
      &:nth-child(odd) {
        background-color: get-light-color('bg-primary');
      }
      &:nth-child(even) {
        background-color: rgba(get-light-color('accent-color'), 0.05);
      }
    }
  }
  th,
  td {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

html[data-theme='dark'] {
  table {
    border: 1px solid rgba(get-dark-color('accent-color'), 0.1);
    thead {
      tr {
        background: get-dark-color('bg-table-thread');
        color: get-dark-color('text-over-accent-color');
      }

      th::selection {
        background: get-dark-color('selected-text-over-accent-color');
      }
    }

    tbody {
      tr {
        color: get-dark-color('text-color');
        &:nth-child(odd) {
          background-color: #bfdaff1f;
        }
        &:nth-child(even) {
          background-color: #bfdaff08;
        }
      }
    }
  }
 }
