{{ $scratch := newScratch }}
{{ $heroPermalink := partial "helpers/get-hero.html" . }}

{{/* if hero_dark is specified in front-matter, try page bundle first, then assets */}}
{{ if .Params.hero_dark }}
  {{ $heroDarkImage := .Resources.Get .Params.hero_dark }}
  {{ if not $heroDarkImage }}
    {{ $heroDarkImage = resources.Get .Params.hero_dark }}
  {{ end }}
  {{ if $heroDarkImage }}
    {{ $scratch.Set "heroDarkImage" $heroDarkImage }}
  {{ end }}
{{ end }}

{{ $heroDarkImage := $scratch.Get "heroDarkImage" }}
{{/* keep original dark hero resolution when available */}}
{{ if $heroDarkImage }}
  {{ $heroPermalink = $heroDarkImage.RelPermalink }}
{{ else }}
  {{/* when there is no custom hero, use dark default hero */}}
  {{ if not .Params.hero }}
    {{ $defaultHeroDarkImage := resources.Get "images/default-hero_dark.svg" }}
    {{ if $defaultHeroDarkImage }}
      {{ $heroPermalink = $defaultHeroDarkImage.RelPermalink }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* fallback to regular hero (custom hero if provided, else default light hero) */}}
{{ return $heroPermalink }}
