{{- $path := "" -}}
{{- $width := "24rem" -}}
{{- if .IsNamedParams -}}
  {{- $path = default (.Get "ref") (.Get "path") -}}
  {{- with .Get "width" -}}
    {{- $width = . -}}
  {{- end -}}
{{- else if ge (len .Params) 1 -}}
  {{- $path = .Get 0 -}}
  {{- if ge (len .Params) 2 -}}
    {{- $width = .Get 1 -}}
  {{- end -}}
{{- end -}}

{{- $postCardStyle := "" -}}
{{- with $width -}}
  {{- $postCardStyle = printf "width: %s;" (. | safeCSS) -}}
{{- end -}}
{{- $postCardWidthAttr := "" -}}
{{- with $postCardStyle -}}
  {{- $postCardWidthAttr = printf "style=\"%s\"" . -}}
{{- end -}}

{{- if not $path -}}
  {{- errorf "[%s] %q: card shortcode requires a page path (use path=\"...\" or ref=\"...\")" site.Language.Lang .Page.Path -}}
{{- end -}}

{{- $target := .Page.GetPage $path -}}
{{- if not $target -}}
  {{- $target = site.GetPage $path -}}
{{- end -}}

{{- if not $target -}}
  {{- errorf "[%s] %q: card shortcode target page not found for %q" site.Language.Lang .Page.Path $path -}}
{{- end -}}

{{- if $target.IsSection -}}
  {{- partial "cards/section.html" (dict "section" $target "widthAttr" $postCardWidthAttr) -}}
{{- else -}}
  {{- $summary := default ($target.Params.summary | plainify) ($target.Description | plainify) -}}
  {{- partial "cards/post-generic.html" (dict "page" $target "summary" $summary "widthAttr" $postCardWidthAttr) -}}
{{- end -}}
