{{- $classes := slice -}}
{{- with .Get "align" -}}
  {{- $classes = $classes | append . -}}
{{- end -}}
{{- with .Get "verticalMargin" -}}
  {{- $classes = $classes | append "vertical-margin" -}}
{{- end -}}
{{- $rounded := false -}}
{{- with .Get "rounded" -}}
  {{- $roundedValue := lower (trim (printf "%v" .) " ") -}}
  {{- if or (eq $roundedValue "1") (eq $roundedValue "true") (eq $roundedValue "yes") (eq $roundedValue "on") -}}
    {{- $rounded = true -}}
  {{- end -}}
{{- end -}}
{{- if $rounded -}}
  {{- $classes = $classes | append "rounded" -}}
{{- end -}}
{{- $srcDark := .Get "src_dark" -}}
{{- $lightClasses := $classes -}}
{{- $darkClasses := $classes -}}
{{- if $srcDark -}}
  {{- $lightClasses = $lightClasses | append "shortcode-light-image" -}}
  {{- $darkClasses = $darkClasses | append "shortcode-dark-image" -}}
{{- end -}}

<img src="{{ .Get "src"}}"
    {{ if .Get "title" }}
        alt="{{.Get "title"}}"
    {{end}}
    {{ if .Get "width" }}
        width="{{.Get "width"}}"
    {{end}}
    {{ if .Get "height" }}
        height="{{.Get "height"}}"
    {{end}}
    {{ if .Get "float" }}
        style="float: {{.Get "float"}};"
    {{end}}
    {{ if gt (len $lightClasses) 0 }}
        class="{{ delimit $lightClasses " " }}"
    {{end}}
>

{{- if $srcDark -}}
<img src="{{ $srcDark }}"
  {{ if .Get "title" }}
    alt="{{.Get "title"}}"
  {{end}}
  {{ if .Get "width" }}
    width="{{.Get "width"}}"
  {{end}}
  {{ if .Get "height" }}
    height="{{.Get "height"}}"
  {{end}}
    {{ if .Get "float" }}
        style="float: {{.Get "float"}};"
    {{end}}
  {{ if gt (len $darkClasses) 0 }}
    class="{{ delimit $darkClasses " " }}"
  {{end}}
>
{{- end -}}
