{{ $src := .Get "src" }}
{{ $type := .Get "type" }}
{{/*
  A page can have multiple videos. We need to generate unique id for them.
  Here, we are generating a sequence from 1 to 200 and taking the first element after a shuffle.
  This will give a random number in most cases. However, if the page has many videos, we might have a collision.
  We should find a better approach for doing this.
*/}}
{{ $randNumber :=  index (seq 200 | shuffle) 0 }}

{{- $classes := slice -}}
{{- $classes = $classes | append "video-player" -}}
{{- with .Get "align" -}}
  {{- $classes = $classes | append . -}}
{{- end -}}
{{- with .Get "verticalMargin" -}}
  {{- $classes = $classes | append "vertical-margin" -}}
{{- end -}}
{{- $rounded := false -}}
{{- with .Get "rounded" -}}
  {{- $roundedValue := lower (trim (printf "%v" .) " ") -}}
  {{- if or (eq $roundedValue "1") (eq $roundedValue "true") (eq $roundedValue "yes") (eq $roundedValue "on") -}}
    {{- $rounded = true -}}
  {{- end -}}
{{- end -}}
{{- if $rounded -}}
  {{- $classes = $classes | append "rounded" -}}
{{- end -}}

<video id="video-{{ $randNumber }}"
    {{ if .Get "title" }}
        alt="{{.Get "title"}}"
    {{end}}
    {{ if .Get "width" }}
        width="{{.Get "width"}}"
    {{ else }}
        width="100%"
    {{end}}
    {{ if .Get "height" }}
        height="{{.Get "height"}}"
    {{end}}
    {{ if .Get "float" }}
        style="float: {{.Get "float"}};"
    {{end}}
    {{ if gt (len $classes) 0 }}
        class="{{ delimit $classes " " }}"
    {{end}}
    playsinline
    controls
>
  <source src="{{ $src }}" type="{{ $type | default "video/mp4" }}" />
</video>
