{{- /* Build classes and attributes similar to `img` shortcode */ -}}
{{- $classes := slice -}}
{{- with .Get "align" -}}
  {{- $classes = $classes | append . -}}
{{- else -}}
  {{- $classes = $classes | append "center" -}}
{{- end -}}

{{- with .Get "verticalMargin" -}}
  {{- $classes = $classes | append "vertical-margin" -}}
{{- end -}}

{{- $rounded := false -}}
{{- with .Get "rounded" -}}
  {{- $roundedValue := lower (trim (printf "%v" .) " ") -}}
  {{- if or (eq $roundedValue "1") (eq $roundedValue "true") (eq $roundedValue "yes") (eq $roundedValue "on") -}}
    {{- $rounded = true -}}
  {{- end -}}
{{- end -}}

{{- if $rounded -}}
  {{- $classes = $classes | append "rounded" -}}
{{- end -}}

{{- $width := .Get "width" -}}
{{- $height := .Get "height" -}}
{{- $float := .Get "float" -}}

{{- $background := .Get "background" -}}
{{- if not $background }}
  {{- $background = "none" -}}
{{- end -}}

{{- $classAttr := .Get "class" -}}
{{- if $classAttr -}}
  {{- $classes = $classes | append $classAttr -}}
{{- end -}}

{{- $attrs := slice -}}
{{- with $width -}}
  {{- $attrs = $attrs | append (printf "width=%q" .) -}}
{{- end -}}
{{- with $height -}}
  {{- $attrs = $attrs | append (printf "height=%q" .) -}}
{{- end -}}
{{- if $float -}}
  {{- $attrs = $attrs | append (printf "style=%q" (printf "float: %s; margin: 5px 10px;" $float)) -}}
{{- end -}}

{{- if gt (len $classes) 0 -}}
  {{- $attrs = $attrs | append (printf "class=%q" (delimit $classes " ")) -}}
{{- end -}}

{{- /* data-theme attribute will be set by JS for debugging/scoping */ -}}
<div class="wavedrom" data-theme="" {{ delimit $attrs " " | safeHTMLAttr }} style="background-color: {{ $background }}; border-radius: 5px; overflow: scroll;">
  <script type="WaveDrom">
{{- .Inner | safeHTML -}}
  </script>
</div>
